.hero-section {
    background-image: url('pics/2.webp'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.about-section img {
    border-radius: 10px;
}
.cta-section {
    background-color: rgb(58, 78, 58); 
    padding: 50px 0;
}

.stats-section h3 {
    color: rgb(56, 75, 56); 
}

.btn-success {
    background-color: #1A3636; 
    border: none;
}

.custom-navbar {
   
    border-bottom: 1px solid #ffffff; 
    transition: background-color 0.3s ease, border-color 0.3s ease, margin 0.3s ease; 
    margin-left: 5rem; 
    margin-right: 5rem; 
}

.custom-navbar.no-margin {
    margin-left: 0; 
    margin-right: 0; 
    background-color: rgba(0, 0, 0, 0.596);
}


.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; 
    transition: color 0.3s ease;
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: #f0f0f0;
}


.custom-navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8); 
    border-bottom: 1px solid #ffffff; 
}





















  




